<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempo Juntos</title>
    <link rel="stylesheet" href="../css/temp.css">
    <script defer src="../script/temp.js"></script>
    <link rel="shortcut icon" href="../img/heart.svg" type="image/x-icon">
</head>
<body>
    <div class="box">
        <h1>Kalebe e Gabriely</h1>
        <p>Estamos juntos há:</p>
        <div class="time-box">
            <div class="time-item">
                <span class="time-number" id="years">0</span>
                <span class="time-label">anos</span>
            </div>
            <div class="time-item">
                <span class="time-number" id="months">0</span>
                <span class="time-label">meses</span>
            </div>
            <div class="time-item">
                <span class="time-number" id="days">0</span>
                <span class="time-label">dias</span>
            </div>
            <div class="time-item">
                <span class="time-number" id="hours">0</span>
                <span class="time-label">horas</span>
            </div>
            <div class="time-item">
                <span class="time-number" id="minutes">0</span>
                <span class="time-label">minutos</span>
            </div>
            <div class="time-item">
                <span class="time-number" id="seconds">0</span>
                <span class="time-label">segundos</span>
            </div>
        </div>
    </div>
</body>
</html>
